.env
.git
.gitignore
Dockerfile
.dockerignore
node_modules
*.md
*.png
*.sql
tests
.vscode
*.log
*.tmp
.nyc_output
coverage
.directory
.document
.download
.dtrash
*.swp
*.swo
*.bak
*.orig
__pycache__
*.pyc
*.pyo
.DS_Store
Thumbs.db
npm-debug.log
pnpm-debug.log
diagram-dark.png
mock-readme.md
sql-commands.sql
user.sql
vercel.json
assets
db/migrate.js
db/remove_index.js
swagger.yaml
