DATABASE_PASSWORD=PASSWORD_HERE
# supabase configuration:
URL_SUPABASE_CONNECT=SUPABASE_URL
ANON_KEY_SUPABASE=ANON_KEY
## nodemailer all secret keys:
NODEMAILER_MY_EMAIL=YOUR_EMAIL
NODEMAILER_MY_PASSWORD=EMAIL_APP_PASSWORD
NODEMAILER_MY_HOST=NODEMAIER_HOST_URL
JSON_SECRET_KEY=YOUR_SECRET_KEY

CLIENT_BASE_URL=FRONTEND_URL
PORT=BASE_PORT
MAXAGE=TIME_IN_SECONDS

GROK_API=API_GROK